#chess-board {
    height: 80vh;
    width: 80vh;
    display: grid;
    grid-template-rows: repeat(8, 10vh);
    grid-template-columns: repeat(8, 10vh);
    box-sizing: border-box;
}

.chess-field.chess-field-black {
    background-color: #333333;
    border: 5px solid #202020;
}

.chess-field.chess-field-white {
    background-color: #ffefe4;
    border: 5px solid #ffd4b7;
}
